<div class="flex-col mx-auto">
  <%= form.label field, title, class: options[:labelClass] %>
  <div class="mx-4 w-64">
    <%= form.password_field field, autocomplete: autocomplete, disabled: disabled, value: value, class: options[:fieldClass] %>
  </div>
  <% object.errors.full_messages_for(field).each do |message| %>
    <div class="text-red-500 ml-6 text-sm">
      <%= message %>
    </div>
  <% end %>
</div>