<footer class="fixed w-full bottom-0 mb-2">
    <div class="flex w-fit h-fit mx-auto border border-4 border-regular rounded-xl bg-opacity-40 bg-slate-700 px-2">
        <a href="/" class=" h-fit w-fit my-auto border-r border-r-4 border-regular">
            <div class="bg-[url('/assets/icons/matrix-w.png')] hover:bg-[url('/assets/icons/matrix-g.png')] bg-cover w-12 h-12 p-2 mr-2"></div>
        </a>
        <a class="my-auto" href="/">
            <img src="<%= asset_path('logo.svg') %>" class="w-14 h-14" alt="CASC Logo">
        </a>
        <h2 class="my-auto font-extrabold text-2xl">
            <% if ENV["RACK_ENV"] == "development" %>
                DEV
            <% else %>
                CASC
            <% end %>
        </h2>
        <div class=ml-12>
        </div>
        <a href="/categories" class=" h-fit w-fit my-auto mx-2">
            <div title="Categories and challenges" class="bg-[url('/assets/icons/rocket-w.png')] hover:bg-[url('/assets/icons/rocket-g.png')] bg-cover w-12 h-12 p-2"></div>
        </a>
        <a href="/" class=" h-fit w-fit my-auto mx-2">
            <div title="Events" class="bg-[url('/assets/icons/calendar-w.png')] hover:bg-[url('/assets/icons/calendar-g.png')] bg-cover w-12 h-12 p-2"></div>
        </a>
        <a href="/users/<%=current_user.id%>" class=" h-fit w-fit my-auto mx-2">
            <div title="Your profile" class="bg-[url('/assets/icons/profile-w.png')] hover:bg-[url('/assets/icons/profile-g.png')] bg-cover w-12 h-12 p-2"></div>
        </a>
        <% if current_user.isAdmin? %>
            <a href="/admin/" class=" h-fit w-fit my-auto mx-2">
                <div title="Administrator page" class="bg-[url('/assets/icons/admin-r.png')] hover:bg-[url('/assets/icons/admin-ra.png')] bg-cover w-12 h-12 p-2"></div>
            </a>
        <% end %>
    </div>
</footer>