

<nav class="navbar">
  <%if user_signed_in? %>
    <a href="/"><%= image_tag('logo.svg', alt: 'Logo Casc', class: 'logo') %></a>
  <%else %>
    <a href="/users/sign_in"><%= image_tag('logo.svg', alt: 'Logo Casc', class: 'logo') %></a>
  <%end %>
  <div class="slogan">Dev</div>
  <%if user_signed_in? %>
    <div class="nav-links p-2">
      <div class="dropdown">
        <button class="dropbtn p-2 .divide-gray-100">Challenges</button>
        <div class="dropdown-content">
          <a href="#">Chall 1</a>
          <a href="#">Chall 2</a>
          <a href="#">Chall 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn p-2">Events</button>
        <div class="dropdown-content">
          <a href="#">Event 1</a>
          <a href="#">Event 2</a>
          <a href="#">Event 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn p-2">Profile</button>
        <div class="dropdown-content">
          <a href="#">Edit Profile</a>
          <a href="#">Change Password</a>
          <span><%= link_to "Log out", destroy_user_session_path, method: :get %></span>
        </div>
      </div>
    </div>
  <%end %>
</nav>
  