

<nav class="navbar">
  <a href="/"><%= image_tag('logo.svg', alt: 'Logo Casc', class: 'logo') %></a>
  <div class="slogan">Dev</div>
  <div class="nav-links p-2">
    <div class="dropdown">
      <button class="dropbtn p-2 .divide-gray-100">Challenges</button>
      <div class="dropdown-content">
        <a href="#">Chall 1</a>
        <a href="#">Chall 2</a>
        <a href="#">Chall 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn p-2">Events</button>
      <div class="dropdown-content">
        <a href="#">Event 1</a>
        <a href="#">Event 2</a>
        <a href="#">Event 3</a>
      </div>
    </div>
  </div>
</nav>
  