.w30p {
    width: 30%;
}

.w40p {
    width: 40%;
}

.w50p {
    width: 50%;
}

.w60p {
    width: 60%;
}

.w70p {
    width: 70%;
}
 .home {
    margin-top: 30px;
    height: fit-content;
 }

body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}