<div class="flex-col border border-regular rounded-xl m-4 highlight-bg">
    <div class="flex w-full h-fit border-b border-regular">
        <span class="m-2"><a class="format-h3">General</a></span>
        <span class="m-2"><a class="format-h3">Stats</a></span>
        <span class="m-2"><a class="format-h3">Badges</a></span>
        <span class="ml-auto  my-2 mr-4"><a class="format-h3">exit</a></span>
    </div>
</div>
